*
	margin: 0px
	padding: 0px
	border-sizing: border-box

$font-light: 'lato:300', sans-serif
$font-regular: 'lato:400', sans-serif
$font-bold: 'lato:700', sans-serif
$font-normal: 'lato', sans-serif

.row:before,
.row:after 
	content: ""
	display: table
	clear: both

.container 
	max-width: 1200px
	margin: 0 auto
	width: 100%

[class*="col-"] 
	float: left
	min-height: 1px
	padding: 10px

.col-1 
	width: 8.33%
.col-2 
	width: 16.66%
.col-3 
	width: 25%
.col-4 
	width: 33.33%
.col-5 
	width: 41.66%
.col-6 
	width: 50%
.col-7 
	width: 58.33%
.col-8 
	width: 66.66%
.col-9
	width: 75%
.col-10
	width: 83.33%
.col-11
	width: 91.66%
.col-12
	width: 100%

.col-offset-1 
	margin-left: 8.33%
.col-offset-2
	margin-left: 16.66%
.col-offset-3
	margin-left: 25%
.col-offset-4
	margin-left: 33.33%
.col-offset-5	
	margin-left: 41.66%
.col-offset-6
	margin-left: 50%
.col-offset-7
	margin-left: 58.33%
.col-offset-8
	margin-left: 66.66%
.col-offset-9
	margin-left: 75%
.col-offset-10
	margin-left: 83.33%
.col-offset-11
	margin-left: 91.66%


.jumbotron
	background-image: url('new-images/jumbotron-image.jpg')
	height: 100vh
	background-size: cover
	display: flex
	justify-content: center
	position: relative
	
	h1
		text-align: center
		font-family: 'lato'
		color: rgb(255, 255, 255)
		font-size: 3.1rem
		text-transform: uppercase
		line-height: 1.2
		position: absolute
		letter-spacing: 8px
		top: 42%
	h2
		text-align: center
		font-family: $font-light
		color: rgb(255,255,255)
		position: absolute
		text-transform: uppercase
		line-height: 1
		font-size: 1rem
		line-height: 1.2

.logo
	position: absolute
	z-index: 100
	display: flex
	justify-content: center
	margin-top: 15%













